<!--clock.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3> [ 광주 컴퓨터 기술학원 - 정보보안 적대적생성모델 클래스 ] </h3>
    <div>
        <p>
        <span id="year"></span> 년 <span id="month"></span> 월
            <span id="day"></span> 일 <span id="week"></span>
        </p>
        <p id="time">
        <span id="hour"></span> 시 : <span id="minute"></span> 분 :
            <span id="second"></span> 초
        </p>
        <p>
            <label>지역선택:
                <select id="wea_sel">
                    <option value="">지역선택</option>
                    <option selected value="gwangju">광주</option>
                    <option value="damyang">담양</option>
                </select></label>
        </p>
        <p>어제의 날씨</p>
        <p>오늘의 날씨</p>
        <p>내일의 날씨</p>
    </div>
<script>
    let weather_local="gwangju"
    let ti = document.getElementById("time")
    let y = document.getElementById("year")
    let mo = document.getElementById("month")
    let di = document.getElementById("day")
    let w = document.getElementById("week")
    let h = document.getElementById("hour")

    let mi = document.getElementById("minute")
    let s = document.getElementById("second")
    let warr =["월요일","화요일","수요일","목요일","금요일","토요일","일요일"]
    let colormap = ["black","black","black","black","green","blue","red"]
    setInterval(function(){
        let d = new Date()
        y.innerText = d.getFullYear()
        mo.innerText = d.getMonth()+1
        di.innerText = d.getDate()
        w.innerText = warr[d.getDay()-1]
        w.style.color=colormap[d.getDay()-1]
        h.innerText = d.getHours()
        if(d.getHours()>11){
            ti.style.color="orange"
        }else{
            ti.style.color="blue"
        }
        mi.innerText = d.getMinutes()
        s.innerText = d.getSeconds()
    },1000)
   // getWeather()
    //async function getWeather(){
      //  let res = await fetch("https://openweathermap.org/city/1841811")
        //console.log(await res.readText())
    //}
    //좌표주소 http://api.openweathermap.org/geo/1.0/direct?q=gwangju,KR&appid=7b9f7f492156998d71b424d560c28e72
    //날씨주소 https://api.open-meteo.com/v1/forecast?latitude=35.1594647&longitude=126.8515034&&current_weather=true&current=temperature_2m,wind_speed_10m&hourly=temperature_2m,relative_humidity_2m,wind_speed_10m
     const wea_sel = document.getElementById("wea_sel")
    wea_sel.addEventListener("change",myweather)
    async function myweather(){
        if(wea_sel.value){
            weather_local=wea_sel.value
        }
        rl_url=`http://api.openweathermap.org/geo/1.0/direct?q=${weather_local},KR&appid=7b9f7f492156998d71b424d560c28e72`
        res = await fetch(rl_url)
        rl_data = await res.json()
        console.log(rl_data)
    }
    myweather()
</script>
</body>
</html>