<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    css란?<br>
    화면의 모양 글자크기 색상 등을 설정할 수 있다.
    Javascript란 <br>
    화면의 움직임 동적인 요소를 인터렉티브 하게 작동 시킬 수 있다.
    html 란? <br>
    화면의 데이터 구조를 만들어 낸다.
    <br>
    XML 기반 태그 (Tag)
    <a href="https://www.naver.com">네이버바로가기</a>
    <a href="https://www.google.com">구글 바로가기</a><br>
    <button>아무작동 안하는 버튼</button>
    <div style="background-color:#7550c2;color:white;font-size:2.5em">div 화면분할태그</div>데이터<br>
    <!-- 색상표현범: 컬러 영어 이름 / rgb (0-255,0-255,0-255) /색상 16진수 # 이거 코드 ,,,,
    background-color:배경색;color:글자색;font-size:(글자크기(px,%,pt) 기존 글자 크기에서 키우기em)-->
    <span>span 인라인태그</span>데이터
    <!-- 인라인은 내용물의 크기로 자동 크기가 결정 -->
    <hr/>
    <label>아이디: <input type="text"></label>
    <p> div 안에 p, 하나의 문단</p>
    <div style="border-color:#b4bce7; border_width:2px; border-style:solid; display:inline-block; width:5em; height:4em; background:#a5ac6f"></div>
    <div style="box-shadow:2px 2px 5px gray; border:2px solid #b4bce7; display:inline-block; width:5em ; height:4em; background:#765ea9"></div>
    <div style="display:inline-block; width:5em ; height:4em; background:#bbbbae"></div>

    <div style="position:absolute; left:10px; top:10px ;width:5em ; height:4em; background:#4b743c"></div>
    <div style="position:absolute; left:30px; top:30px ;width:5em ; height:4em; background:#b93ae5;z-index:1"></div>
    <div style="position:absolute; left:40px; top:40px ;width:5em ; height:4em; background:#ec0c72"></div>
    <div style="width:500px;height:500px;background:#c1b9c8">
        <div style="display:inline-block;width:49%;height:49%;background-color:#c0c88f">1</div>
        <div style="display:inline-block;width:49%;height:49%;background-color:#676371">2</div>
        <div style="display:inline-block;width:49%;height:49%;background-color:#af7e8a3">3</div>
        <div style="display:inline-block;width:49%;height:49%;background-color:#b54344">4</div>
    </div>
    <div style="margin:10px;float:left;width:100px;height:100px;background:gray">11</div>
    <div style="float:left;width:100px;height:100px;background:#ec0c72">12</div>
    <div style="clear:both;float:left;width:100px;height:100px;background:#4b743c">13</div>
    <div style="float:left;width:100px;height:100px;background:#c0c88f">14</div>

</body>
</html>